html, body {
    margin-top: 0.625rem;
    background:#d6d6d6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.container {  
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.01fr 1.4fr 0.1fr;
    grid-auto-rows: 0.1fr;
    gap: 1rem 30px;
    grid-auto-flow: row;
    margin-right: 40px;
    margin-left: 8px;
}

.usersBox {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px 30px;
    grid-auto-flow: row;
    grid-area: 2 / 2 / 4 / 5;
}
  
.sideBar { 
    grid-area: 1 / 1 / 4 / 2;
}
  
.header {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 0.01fr;
    gap: 0px 0px; 
    grid-area: 1 / 2 / 2 / 5; 
}

.footer {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 0.01fr;
    gap: 1em 30px; 
    grid-area: 4 / 2 / 5 / 5; 
}
 
.title {
    justify-content: left;
    margin-top: 0px;
    display: flex;
}

.card{
    margin: 0.625rem;
    background-color: #f1f4f7;
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-self: center;
}

.data {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mail {
    padding: 0.01rem;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 1.1rem;
    
}

.location {
    padding: 0.01rem;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0.3rem;
}

.name{
    padding: 0.10rem;
    font-size: 1.4rem;
    text-align: center;
    color: #2491ff;
    margin-bottom: 0.6rem; 
}

.paginator {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

select {
    padding: 8px;
    font-size: 12px;
    margin-top: 20px;
    justify-self: end;
}

input {
    padding: 8px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a{
    color: #2491ff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    background-color: #f1f4f7;
}

ul.pagination li a.active {
    background-color: #2491ff;
    color: white;
    border: 1px solid #2491ff;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

